.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

body{
	font-family: 'Orbitron', sans-serif;
}

h2{
	font-family: 'Orbitron', sans-serif;
	font-size: 2em;
	color: #555500;
	border-bottom: dotted 2px #9EA738;
	width: 550px;
	text-align: center;
	}

img{
	height: 250px;
	width: 250px;
	margin: 7px;
	border: solid 2px #555500;
	transition: all 1s;
	cursor: pointer;
}

img:hover{
	transform: scale(1.3);
}

li{
	list-style: none;
	display: inline-block;
	margin: 0.5em;
	color: #555500;
}

#footer{
	font-family:Verdana, sans-serif;
	size: 14px;
	border: solid 3px #555500;
	width: 500px;
	text-align: center;
	display: flex;
}

border: solid 3px #457313